
header.masthead
{
    padding-top:10rem;padding-bottom:calc(10rem - 72px);
    background:
    linear-gradient(to bottom,rgba(92, 76, 66, 0.65) 0,rgba(92,77,66,0.65) 100%),
    url(../img/background.jpg);background-position:center;
    background-repeat:no-repeat;background-attachment:scroll;
    background-size:cover;
    background-attachment:fixed;
    z-index: -1;
}
header.masthead h1{font-size:2.25rem}@media (min-width:992px){header.masthead{height:100vh;min-height:40rem;padding-top:72px;padding-bottom:0}header.masthead p{font-size:1.15rem}header.masthead h1{font-size:3rem}}@media (min-width:1200px){header.masthead h1{font-size:3.5rem}}

.font-weight-blode
{
    font-weight: 700!important;
}

.h-70{
    /* height:70%!important */
    margin-top: 10%;
}

.selectHolder
{
    width: 50%;
    height: 30px;
}

.btn-xl
{
    /* padding:1.25rem 2.25rem; */
    font-size:.85rem;
    font-weight:700;
    text-transform:uppercase;
    border:none;
    border-radius:10rem;
}

.body 
{
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */
    /* background-attachment: fixed;
    background-size: cover; */
    overflow: hidden;
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace;
}
div
{
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 00px;
    padding-left: 30px;
}

.column
{
float: left;
padding: 30px;
}

.left 
{
width: 50%;
}

.right 
{
width: 50%;
}

.row:after 
{
content: "";
display: table;
clear: both;
}

/* #mainNav{box-shadow:0 .5rem 1rem rgba(0,0,0,.15);background-color:#fff;transition:background-color .2s ease}
#mainNav .navbar-brand{font-family:"Merriweather Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-weight:700;color:#212529}
#mainNav .navbar-nav .nav-item .nav-link{color:#6c757d;font-family:"Merriweather Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-weight:700;font-size:.9rem;padding:.75rem 0}
#mainNav .navbar-nav .nav-item .nav-link:active,#mainNav .navbar-nav .nav-item .nav-link:hover{color:#f4623a}
#mainNav .navbar-nav .nav-item .nav-link.active{color:#f4623a!important}@media (min-width:992px){#mainNav{box-shadow:none;background-color:transparent}
#mainNav .navbar-brand{color:rgba(255,255,255,.7)}
#mainNav .navbar-brand:hover{color:#fff}
#mainNav .navbar-nav .nav-item .nav-link{color:rgba(255,255,255,.7);padding:0 1rem}
#mainNav .navbar-nav .nav-item .nav-link:hover{color:#fff}
#mainNav .navbar-nav .nav-item:last-child .nav-link{padding-right:0}
#mainNav.navbar-scrolled{box-shadow:0 .5rem 1rem rgba(0,0,0,.15);background-color:#fff}
#mainNav.navbar-scrolled .navbar-brand{color:#212529}
#mainNav.navbar-scrolled .navbar-brand:hover{color:#f4623a}
#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link{color:#212529}
#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover{color:#f4623a}}   */

#mainNav
{   
    font-family:"Merriweather Sans";
}

#mainNav .nav-link
{
    color: white;
}
#mainNav .nav-link:hover
{
    color: #f4623a;
}
#mainNav .navbar-brand
{
    color: white;
}

.navbar.scrolled
{
    background: white;
    transition: background 500ms;
}

#mainNav.navbar.scrolled .navbar-brand{color:#212529}

#mainNav.navbar.scrolled .nav-link{color:#212529}

#mainNav.navbar.scrolled .nav-link:hover{color:#f4623a}

hr.divider{max-width:5.25rem;border-width:.2rem;border-color:#f4623a}

/* body{margin:0;font-family:Merriweather,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff} */